body{
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
/* Header */
header{
    color:black ;
    min-height: 30%;
    padding: 3%;
    margin: 0px;
    /* text-align: center; */
    background-image: url(bg/bluemountainbr.jpg);
    background-size: cover;
    text-decoration: none;    
}
.encabezado{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1{
    text-shadow: 2px 2px 4px #eee;
}
header p{
    text-shadow:2px 2px 6px white ;
}
header .h1_p{
    padding: 0px;
    text-shadow:2px 2px 6px white ;
}
.menu{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

} 
.menu a{
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
    margin: 0px 3px 3px;
    flex-wrap: wrap;
    /* border: 2px solid rgb(75, 73, 73); */
    border-radius: 4px;
    background-color: rgba(170, 170, 170, 0.3);
    color: black;
    text-decoration: none;

}
.menu a:hover{
    width: 85px;
    height: 45px;
    box-shadow: 3px 2px 8px rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(255, 255, 255);

    
}
.menu .current{
    color: black;
    text-decoration: 4px underline;
    
}
.divisor{
    margin: 0px ;
    border: 2px solid rgba(82, 81, 81, 0.75) ;
    background-color: rgba(82, 81, 81, 0.75);
}

/* Main */

.sumario{
    margin-left: 15px;
    padding-bottom: 40px;
}
.sumario h2{
    margin-top: 0;
    padding-top: 10px;

}
.experiencia_lista li{
    margin-top: 10px ;
    margin-left: 20px;
    font-size: medium;
}

.main_container{
    display: grid;
    gap: 3rem;
    grid-template-rows: repeat(3, 1fr ); 
}

.titulo_resumen{
    margin-left: 200px;
}


.items img{
    margin: 0px 0px 60px 40px;
    height: 220px;
    width: 200px;
} 

.items{
    margin-left: 25px;
    display: grid;
    grid-template-columns: 80% 20%;

}


.items_right img{
    height: 220px;
    width: 200px;
    margin-left: 35px;
    padding: 15px 25px 25px 0;
    float: left;
} 


.items_right p{
    margin: 0px 30px 0px 0px ;
    padding-top: 25px;
}

/* Footer */
footer{
    margin: 0px;
    background-color: rgba(57, 156, 238, 0.288);
}

.registro{
    display: flex;
    justify-content: center;
    font-size: xx-small;
    margin: 10px;
}

.socials_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.socials{
    height: 60px;
    width: 80px;
    padding-top: 20px;
    margin-top: 20px;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.instagram{
    background-image: url(bg/icon/instagram.svg);
    
}

.facebook{
    background-image: url(bg/icon/facebook.svg);
} 

.whatsapp{
    background-image: url(bg/icon/whatsapp.svg);
}